body {
    background-color: beige;

    height: 98vh;
}

.game-board {
    background-color: gray;

    border-radius: 15px;
    padding:5px;
}

.game-board-tile {
    background-color:lightgray;
    height: 100px;
    width: 100px;

    border-radius: 5px;
    margin: 5px;
}

.tile-value {
    font-size:40px;
    color: #4d3635;
    font-family:"Clear Sans", sans-serif;
    font-weight: bold;
}

.tile-2 {
    background-color: white;
}

.tile-4 {
    background-color: #ffe591;
}

.tile-8 {
    background-color: #ffc891;
}

.tile-16 {
    background-color: #ff7e5e;
}

.tile-32 {
    background-color: #ff6038;
}

.tile-64 {
    background-color: #f53707;
}

.tile-128-plus {
    background-color: yellow;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}